<div class="mx-auto max-w-7xl px-8">
    <div class="mt-6 grid grid-cols-1 gap-x-6 gap-y-10 grid-cols-6">
        <% @animes.each do |anime| %>
            <div class="group m-auto relative element">
                <div class="overflow-hidden rounded-md bg-gray-200 w-[150px] h-[200px]">
                    <img src="<%= anime.image_url %>" class="bg-cover bg-center">
                </div>
                <div class="content mt-2 flex items-center">
                    <div>
                        <h3 class="text-sm">
                            <div class="w-[160px]">
                                <%= link_to anime_path(anime), class: "hover:text-[#f28e3c] hover:underline block text-ellipsis overflow-hidden whitespace-nowrap" do %>
                                    <span aria-hidden="true" class="absolute inset-0 "></span>
                                    <%= anime.name %>
                                <% end %>
                            </div>
                        </h3>
                        <p class="mt-1 text-xs text-gray-500">
                            <% if anime.anime_type == 'TV_Serial'%>
                                TV Сериал
                            <% else %>
                                Фильм
                            <% end %>
                        </p>
                    </div>
                    <div class="tooltip absolute z-20 hidden px-3 py-2 w-[300px] h-auto text-xs font-medium text-white bg-[#122233] rounded-lg shadow-sm select-none">
                        <%= anime.description %>
                        <div class="tooltip-arrow"></div>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
</div>